@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
nav{
  background: rgb(184,63,224);
  background: linear-gradient(111deg, rgba(184,63,224,1) 0%, rgba(242,18,177,1) 100%, rgba(247,255,255,1) 100%);
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.hover-effect-1:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

nav ul li.logo{
    flex: 1; 
    color: #0e2431;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}


nav ul li.logo span{
  color : rgb(250, 244, 244);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

nav ul li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: cyan;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}

.nav-primary{
  background-color: rgb(12, 85, 219);
  color: white;
  border: none;
  height: 25px;
  width: 75px;
  border-radius: 3px;
  font-size: 12px;
}

.nav-primary:hover{
  cursor: pointer;
}

@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff,
                inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }

  .nav-primary{
   background-color: transparent;
   color: white;
   font-size: 18px;
   transition: .4s;
   text-transform: lowercase;
  }
}



/* Signup */


/* Add padding to containers */
#registrationform .container {
  width: 385px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
#registrationform input[type=text], input[type=password] {
  width: 350px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

#registrationform  input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
#registrationform  hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
#registrationform .registerbtn {
  background-color: rgb(12, 85, 219);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 350px;
  opacity: 0.9;
}

#registrationform .registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
#registrationform  a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
  #registrationform .login {
  background-color: #f1f1f1;
  text-align: center;
}




 /* Form styleing */
        /* Full-width input fields */
        #loginform input[type=text] {
          width: 366px;
          padding: 12px 20px;
          margin: 8px 0;
          display: block;
          border: 1px solid #ccc;
          box-sizing: border-box;
      }

     #loginform input[type=password] {
          width: 366px;
          padding: 12px 20px;
          margin: 8px 0;
          display: block;
          border: 1px solid #ccc;
          box-sizing: border-box;
      }

      /* Set a style for all buttons */
      #loginform button {
          background-color: rgb(12, 85, 219);
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 366px;
          display: block;
      }

     #loginform button:hover {
          opacity: 0.8;
      }

      /* Extra styles for the cancel button */
      #loginform .cancelbtn {
          width: auto;
          padding: 10px 18px;
          background-color: #f44336;
          display: inline;
      }

      /* Center the image and position the close button */
     #loginform .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
          position: relative;

      }

      #loginform img.avatar {
          width: 30%;
          height: 30%;
          border-radius: 50%;
      }

      #loginform .container {
          padding: 16px;
      }

      #loginform span.psw {
          float: right;
        margin-top: 5%;
       
      }


      /* The Modal (background) */ 
     #loginform  .modal {
          display: none;
          /* Hidden by default */
          position: fixed;
          /* Stay in place */
          z-index: 1;
          /* Sit on top */
          left: 0;
          top: 0;
          width: 100%;
          /* Full width */
          height: 100%;
          /* Full height */
          overflow: auto;
          /* Enable scroll if needed */
          background-color: rgb(0, 0, 0);
          /* Fallback color */
          background-color: rgba(0, 0, 0, 0.4);
          /* Black w/ opacity */
          padding-top: 60px;
       }

      /* Modal Content/Box */
      #loginform .modal-content {
          background-color: #fefefe;
          margin: 5% auto 15% auto;
          /* 5% from the top, 15% from the bottom and centered */
          border: 1px solid #888;
          width: 400px;
          /* Could be more or less, depending on screen size */
          height: 540px;
      }

      /* The Close Button (x) */
     #loginform  .close {
          position: absolute;
          right: 25px;
          top: 0;
          color: #000;
          font-size: 35px;
          font-weight: bold;
      }

     #loginform .close:hover, #loginform
      .close:focus {
          color: red;
          cursor: pointer;
          display: inline-block;
      }

      /* Add Zoom Animation */
      .animate {
          -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s
      }


      /* //this code is resposible for smooth behaviour */

      @-webkit-keyframes animatezoom {
          from {
              -webkit-transform: scale(0)
          }

          to {
              -webkit-transform: scale(1)
          }
      }

      @keyframes animatezoom {
          from {
              transform: scale(0)
          }

          to {
              transform: scale(1)
          }
      }

      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
          span.psw {
              display: block;
              float: none;
          }

          .cancelbtn {
              width: 100%;
          }
      }


/* add product */


.container{
  width: 385px;
  padding: 16px;
  background-color: white;
 
}

.secondarybtn{
  background-color: rgb(12, 85, 219);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  display: inline;
}


#addproduct hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

#addproduct input[type=text], input[type=number] {
  width: 350px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

#addproduct  input[type=text]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}


#addproduct hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

#buyproduct input[type=text] {
  width: 350px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

#buyproduct  input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}




#checkproduct input[type=text] {
  width: 350px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

#checkproduct  input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

#checkproduct, #buyproduct{
  width: 350px;
}


.outercontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  padding: 5%;
}

